.animateFade{
  animation-duration: 1.6s;
  animation-name: animate-fade;
  animation-delay:0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes animate-pop {
  0%{
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1, 1);
  }
}

.animatePop{
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

.delay1{
  animation-delay: 0.6s;
}

.delay2{
  animation-delay: 0.7s;
}

.delay3{
  animation-delay:0.8s;
}

.delay4{
  animation-delay:0.9s;
}
