.container {
  padding: 0 2rem;
}

.loginComments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.topPostsWrapper{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid #8b0000;
}

.welcomeWrapper{
  display: flex;
  margin-bottom: 2rem;
}


.welcomeContainer{
  display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
padding-bottom: 5.5rem;
}


/* .subheaderLeftSide{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
} */

.welcomeImagediv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.postImagediv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5rem 0;
}

.postsWrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.allPosts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 2rem 0;
  padding: 0 8rem;
}

.postsHeader{
  align-self: center;
  margin: 2rem 0;
}


@media only screen and (max-width: 1200px) {
  .welcomeWrapper{
    flex-direction: row;
  }
  .welcomeContainer{
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8rem;
    width: 100%;

  }
  .allPosts{
    justify-content: center;
    padding: 0;
  }


  .topPostsWrapper{
    width: 60%;
    margin: 1.5rem 0;
  }
  .topPostsWrapper{
    border: 0;
  }

}

@media only screen and (max-width: 992px) {
   .welcomeWrapper{
    flex-direction: row;
  }

  .welcomeContainer{
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8rem;

  }
  .allPosts{
    justify-content: center;
    padding: 0;
  }


  .topPostsWrapper{
    width: 100%;
    margin: 1.5rem 0;
  }
  .topPostsWrapper{
    border: 0;
  }



}


@media screen and (max-width: 720px){
  .welcomeWrapper{
    flex-direction: column;
  }
  .welcomeContainer{
    flex-direction: column;
  }


  .topPostsWrapper{
    width: 100%;
    margin: 1.5rem 0;
  }
  .topPostsWrapper{
    border: 0;
  }


}

@media screen and (max-width: 414px){
  .welcomeWrapper, .welcomeContainer{
    flex-direction: column;
  }
  .welcomeContainer{
    padding-bottom: 0;
    width: 100%;
  }


  .topPostsWrapper{
    border: 0;
  }
  .allPosts{
    padding: 0;
  }
  .topPostsWrapper{
    width: 100%;
    margin: 1.5rem 0;
  }


}

@media screen and (max-width: 375px){
  .welcomeWrapper, .welcomeContainer{
    flex-direction: column;
  }
  .welcomeContainer{
    padding-bottom: 0;
    width: 100%;
  }


  .topPostsWrapper{
    border: 0;
  }
  .allPosts{
    padding: 0;
  }
  .topPostsWrapper{
    width: 100%;
    margin: 1.5rem 0;
  }


}

@media screen and (max-width: 325px){
  .welcomeWrapper, .welcomeContainer{
    flex-direction: column;
  }
  .welcomeContainer{
    padding-bottom: 0;
    width: 100%;
  }
  .topPostsWrapper{
    border: 0;
  }
  .allPosts{
    padding: 0;
  }

  .topPostsWrapper{
    width: 100%;
    margin: 1.5rem 0;
  }

}
