.card {
  margin: 1rem 1.5rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-top: 1px solid #8b0000;
  border-bottom: 1px solid #8b0000;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  }
.longTextLink:hover,
.longTextLink:focus,
.longTextLink:active {
  color: #8b0000;
  text-decoration: underline;

}

.cardTitle:hover,
.cardTitle:focus,
.cardTitle:active {
  color: #8b0000;
  text-decoration: underline;
}

.topCard{
  margin: 1rem 1.5rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-top: 1px solid #8b0000;
  border-bottom: 1px solid #8b0000;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.card p, .topCard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.cardTitle{
  margin: 0.5rem 0;
}

.cardTitle > h4, .cardTitle > h4{
  margin: 0;
}

.authorinfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.authorinfo > span {
  margin: 0.25rem 0;
}


.rightSideContent{
  display: flex;
  flex-direction: column;
  text-align: center;

  margin: 1rem 0;
  border-top: 4px solid #8b0000;
  border-bottom: 4px solid #8b0000;
  padding: 1rem;
}

.commentWrapper{
  position: absolute;
  bottom: 1.8rem;
  left: 1.5rem;
  display: flex;
  flex-direction: row;
}

.commentWrapper > span {
  margin: 0 0.25rem;


}
