.isInvalid{
  border: 2px red solid;
}

.formWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loginComments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formCard{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0.25rem;
  padding: 1rem 0;
}

.formRegister{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 250px;
  justify-content: space-between;


}
.valid{
  padding: 0.1rem;
}

.invalidFeedback{
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-top: 2px solid #8b0000;
  border-bottom: 2px solid #8b0000;
}

.submit{
  align-self: center;
    display: flex;
    border: 1px solid #00468b;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100px;
    justify-content: center;
    font-size: 1rem;
    color: #fff3c9;
    background-color: #00468b;
}

.submit:hover{
  cursor:pointer;
}
