.subheaderDiv{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.etchings{
  justify-content: center;
  align-items: center;
}

.etchings > h1 {
  font-size: 3.5rem;
  width: 20ch;
}

.etchings > p {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;

}

@media only screen and (max-width: 1200px) {
  .etchings > h1 {
    font-size: 3rem;
  }

  .etchings > p {
    font-size: 1rem;
    padding: 0 2rem;
  }

  .subheaderDiv{
    border: 0;
  }

}

@media only screen and (max-width: 992px) {
  .etchings > h1 {
    font-size: 3rem;
    padding: 0.5rem 2rem;

  }

  .etchings > p {
    font-size: 1rem;
    padding: 0 2rem;
  }

  .subheaderDiv{
    border: 0;
  }
}

@media screen and (max-width: 720px){
  .etchings > h1 {
    font-size: 3rem;
  }

  .etchings > p {
    font-size: 1rem;
    padding: 0 1.2rem;
  }

  .subheaderDiv{
    border: 0;
  }
}

@media screen and (max-width: 414px){
  .etchings > h1 {
    font-size: 2.5rem;
    width: 100%;
  }

  .etchings > p {
    font-size: 1.1rem;
    padding: 0 1.2rem;
  }

  .subheaderDiv{
    border: 0;
  }
}

@media screen and (max-width: 375px){
  .etchings > h1 {
    font-size: 2.5rem;
    width: 100%;

  }

  .etchings > p {
    font-size: 1.1rem;
    width: 100%;
    padding: 0 1.2rem;
  }

  .subheaderDiv{
    border: 0;
  }
}

@media screen and (max-width: 325px){
  .etchings > h1 {
    font-size: 2.5rem;
    width: 100%;
    margin: 0;
  }

  .etchings > p {
    font-size: 1.25rem;
    width: 100%;
    padding: 0 1.2rem;
  }

  .subheaderDiv{
    border: 0;
  }
}
